@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

header{
    width: 100vw;
}

header nav{
    width: 100vw;
    margin: auto;
    height: 3rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #426B69;
    justify-content: center;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #B5CA8D;
}
nav a:hover{
    color: #8BB174;
    cursor: pointer;

}
.social-media i{
    margin-right: 10px;
}
.bg{
    width: 100vw;
    margin: auto;

}
.hero h1{
    font-size: 70px;
    color: #222E50;
    position: absolute;
    top: 200px;
    left: 50px;
    border-bottom: 5px solid #426B69 ;
    border-radius: 10px;
}
.hero p{
    position: absolute;
    top: 320px;
    left: 56px;
    font-size: 18px;
    
}
.hero p span{
    font-weight: lighter;
    color: #eaece7;
    background-color: black;
    font-style: italic;
    
}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    margin: auto;
    width: 400px;
    flex-direction: column;
    text-align: center;
    color: #222E50;
}
.conhecimentos p{
    text-align: left;
    margin-left: -20px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}
.heading{
    grid-column: 1/3;
}
.conhecimentos div{
    margin-bottom: 20px;
}
.img{
    width: 1px;
}
.img img{
    width: 80px;
}
ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    
}
ul img{
    width: 25px;
    
}
.timeline{
    flex-direction: column;
    padding: 40px;
    margin: auto;
    width: 500px;
    flex-direction: column;
    text-align: center;
    color: #222E50;
}
.ano{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 20px;
    justify-content: space-between;
}
.timeline img{
    width: 50px;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: #8BB174;
    width: 100vw;
    height: 75px;
    font-style: italic;
    justify-content: center;
    align-items: center;
}
