@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #fff;
    background-image: url(https://th.bing.com/th/id/R.f2f8983ddce653fd89099da74733667f?rik=p%2fpWm3pA2ba8vw&pid=ImgRaw&r=0);
    background-size: 100% 100vh;
    background-repeat: no-repeat;

    .login-box{
        width: 30rem;
        height: 22rem;
        padding: 2rem;
        margin: auto;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 20px;

        h1{
            text-align: center;
        }
        .formlogin{
            fieldset{
                border: none;
                display: flex;
                flex-direction: column;

            }
            fieldset div{
                display: flex;
                flex-direction: row-reverse;
                justify-content: left;
                gap: 1rem;
                margin: 2rem;
                justify-content: center;

                input{
                    width: 100%;
                    border-radius: 1rem;
                    padding: .5rem;
                    align-content: center;

                }
                label{
                    align-content: center;
                }
            }
            button[type='submit']{
                width: 5rem;
                margin-left: 20rem;
                border-radius: 1rem;
                border: none;
            }
        }
        
    }
    .curriculum, .homem-aranha{
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: .5rem;
    }
    
}

header{
    display: flex;
    flex-direction: row;
    margin: auto

    
}  
#marvel{
    position: absolute;
    left: 2rem;
    width: 75px;

}
#Avengers{
    justify-self: center;
    width: 250px;
}
footer{
    width: 100%;
    height: 3rem;
    background-color: black;
    margin-top: 2rem;
}